@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-green-: hsl(75, 94%, 57%);
  --color-white-: hsl(0, 0%, 100%);
  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);
  --mobile-break-point: 375px;
  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-size: 14px;
  --max-card-width: 80%;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: var(--font-size);
  background-color: var(--color-grey-900);
  height: calc(100dvh - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-optical-sizing: 0;
}

.profile-card {
  background-color: var(--color-grey-800);
  max-width: var(--max-card-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  gap: 1em;
  border-radius: 0.625em;
}

.profile-card__avatar {
  text-align: center;
}

.img-avatar {
  width: 5em;
  border-radius: 50%;
}

.social-links > ul {
  list-style: none;
  padding: 0em 1.3em;
  margin: 0;
  text-align: center;
}

.social-links a {
  text-decoration: none;
  cursor: pointer;
}

.social-link {
  text-align: center;
  padding: 1em 1em;
  margin-bottom: 1em;
  border-radius: 0.625em;
  width: 100%;
  background-color: var(--color-grey-700);
}

.tx-white {
  color: var(--color-white-);
}

.tx-green {
  color: var(--color-green-);
}

.tx-center {
  text-align: center;
}

.tx-large {
  font-size: 1.5em;
}

.tx-small {
  font-size: 1em;
}

.tx-x-small {
  font-size: 0.8em;
}

.tx-normal {
  font-weight: var(--font-weight-400);
}

.tx-semibold {
  font-weight: var(--font-weight-600);
}

.tx-bold {
  font-weight: var(--font-weight-700);
}

footer {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: var(--color-white-);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 376px) {
  :root {
    --max-card-width: 300px;
  }
}
