@font-face {
  font-family: normalFont;
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
  font-family: italicFont;
  src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: mediumFont;
  src: url(./assets/fonts/static/Figtree-Medium.ttf);
}

@font-face {
  font-family: extraBoldFont;
  src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
}

:root {
  --font-size: 16px;
  --color-yellow-: hsl(47, 88%, 63%);
  --color-white-: hsl(0, 0%, 100%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);
  --font-weight-normal: 500;
  --font-weight-bold: 800;
  --mobile-breakpoint: 375px;
  --main-container-max-width: 85%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: normalFont;
  font-size: var(--font-size);
  background-color: var(--color-yellow-);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog__main-container {
  margin: auto;
  background-color: var(--color-white-);
  max-width: var(--main-container-max-width);
  overflow: hidden;
  border: 1px solid var(--color-gray-950);
  border-radius: 1.3em;
  gap: 1em;
  box-shadow: 5px 0.5em 0px 1px var(--color-gray-950);
}

.blog__main-container *:not(.img-cover) {
  margin-bottom: 1em;
}

.blog__main-container > *:not(.blog__cover) {
  padding-left: 1em;
}

.blog__cover {
  margin: 1em 1em;
  border-radius: 1.3em;
  overflow: hidden;
}

.tag-yellow {
  background-color: var(--color-yellow-);
  border-radius: calc(0.625em / 2);
  max-width: fit-content;
  padding: 0.4em;
  font-size: 0.7em;
  font-family: extraBoldFont;
}

.date {
  font-size: 0.8em;
  font-family: mediumFont;
}

.tx-description {
  font-family: mediumFont;
  color: var(--color-gray-500);
  font-size: 0.9em;
}

.tx-bold {
  font-family: extraBoldFont;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.img-cover {
  width: 100%;
  height: 200%;
}

.img-avatar {
  height: 30px;
  width: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  margin-top: 3em;
  justify-self: end;
}

@media only screen and (min-width: 375px) {
  :root {
    --main-container-max-width: 350px;
  }
}
